.flexcentrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

main>* {
    margin: 15vh 0vw;
}

main > :nth-child(even){
    background-color: #6980A22B;
}

header {
    background-image: url("./assets/img/fondoHero.jpg");
}